extends layout

block content 
   if citys
     each city in citys         
      .container
       .row
        .city-preview
          a(href='city.pug')
          h2.city-title
            a(href='city')= city.content

      hr


