doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='codepixer')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  style.
    #more {display: none;}
    #moree {display: none;}
    #zalat {margin-left:0; margin-right:auto;}
    #zolait{ margin: 100px auto;}
  title SDP Con
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='../css/linearicons.css')
  link(rel='stylesheet' href='../css/font-awesome.min.css')
  link(rel='stylesheet' href='../css/bootstrap.css')
  link(rel='stylesheet' href='../css/magnific-popup.css')
  link(rel='stylesheet' href='../css/nice-select.css')
  link(rel='stylesheet' href='../css/hexagons.min.css')
  link(rel='stylesheet' href='../css/animate.min.css')
  link(rel='stylesheet' href='../css/owl.carousel.css')
  link(rel='stylesheet' href='../css/main.css')
header#header
  .container
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='img/bp4.png' length='230' width='120' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li.menu-active
            a(href='#home') Home
          li
            a(href='#service') Services
          li
            a(href='#feature') Publications
          li
            a(href='#aboutus') About
          li
            a(href='#testimonail') Experience
          li
            a(href='img/CVALAA.pdf') CV
          li
            a(href='#contact') Contact us
          //
            <li class="menu-has-children"><a href="">Pages</a>
            <ul>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            </ul>
            </li>
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative
  .overlay.overlay-bg
  .container
    .row.fullscreen.d-flex.align-items-center.justify-content-start
      .banner-content.col-lg-100.col-md-12
        h1.text-white.text-uppercase
          | Seismic Data Processing Consultant
        p.text-white
          | Under Construction
// End banner Area
// Start quote Area
section.quote-area.pt-100
  .container
    .row.align-items-center
      .col-lg-5.col-sm-12.quote-left
        h2.text-right
          span Worldwide
          |  Geophysics
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;consulting
          br
      .col-lg-7.col-sm-12.quote-right
        p.text-left
          | Sr. Geophysicist, Seismic Data Processing Consultant who helps compamies achieve their organizational goals, achieve more and reduce costs spent on excursions for petrolum and its derravitives using unique Pre-Stack Depth Imaging techniques.
// End quote Area
// Start cat Area
section#service.cat-area.section-gap
  .container
    .row
      .col-lg-4
        .single-cat.d-flex.flex-column
          a.hb-sm-margin.mx-auto.d-block(href='#')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-magic-wand
          h4.mb-20(style='margin-top: 23px;') Manage
          //
            <p>
            We provide valuable advices for huge gas companies for reducing costs spent on excavations
            </p>
      .col-lg-4
        .single-cat
          a.hb-sm-margin.mx-auto.d-block(href='#')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-rocket
          h4.mt-40.mb-20 Consult
          //
            <p>
            We consult gas companies during their mining journey about the optimal route to find their treasure
            </p>
      .col-lg-4
        .single-cat
          a.hb-sm-margin.mx-auto.d-block(href='#')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-bug
          h4.mt-40.mb-20 Implement
          //
            <p>
            We develop plans for companies using Depth Imaging techniques for acheiving the goals in the least time.
            </p>
// End cat Area
// Start feature Area
section#feature.feature-area.relative
  .container
    .row.align-items-center
      .col-lg-8000.offset-lg-10000000000000.feature-right.section-gap
        .row.single-feature-wrap.justify-content-end
          .title-wrap.col-lg-11.col-sm-12
            h1 Publications
            p
              | Here we present some of the papers published by our CEO in the feild of Seismic Data Processing.
          #zalat.col-lg-5
            .single-feature
              h4
                | Seismic&dash;attribute analysis utilizing multiazimuth seismic data in the offshore Nile Delta
              p
                | Access 
                a(href='https://library.seg.org/doi/abs/10.1190/1.2792561') Paper
            .single-feature
              h4
                | Utilizing Multi-azimuth Streamer Data for Reservoir Characterization and Uncertainty Analysis in the Nile Delta
              p
                | Access 
                a(href='https://www.researchgate.net/publication/290784992_Utilizing_Multi-azimuth_Streamer_Data_for_Reservoir_Characterization_and_Uncertainty_Analysis_in_the_Nile_Delta') Paper
            .single-feature
              h4
                | High resolution velocity modelling using Tomography and FWI resolves the pre- Messinian; Nile Delta, offshore Egyptian
              p
                | Access 
                a(href='img/paper3.pdf') Paper
          .col-lg-5
            .single-feature
              h4
                | Revisiting Multi-Azimuth data using Reverse Time Migration and Vector Offset Output
              p
                | Access 
                a(href='http://www.searchanddiscovery.com/abstracts/html/2013/90161er/abstracts/mcclus.htm') Paper
            .single-feature
              h4
                | Full-waveform inversion on Nile Delta deep-water survey offshore Egypt A case study
              p
                | Access 
                a(href='img/paper1.pdf') Paper
            .single-feature
              h4
                | Resolution of the complex overburden with FWI: A case study from Nile Delta, offshore
                | Egypt
              p
                | Access 
                a(href='img/paper2.pdf') Paper
// End feature Area
// Start counter Area
//
  <section class="counter-area section-gap" id="counter">
  <div class="container">
  <div class="row">
  <div class="col-lg-3 col-md-6">
  <div class="single-counter">
  <h1 class="counter">2536</h1>
  <p>Happy Clients</p>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="single-counter">
  <h1 class="counter">6784</h1>
  <p>Total Projects</p>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="single-counter">
  <h1 class="counter">1059</h1>
  <p>Cups Coffee</p>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="single-counter">
  <h1 class="counter">12239</h1>
  <p>Tickets Submitted</p>
  </div>
  </div>
  </div>
  </div>
  </section>
// end counter Area
// Start video Area
//
  <section class="video-area pb-100" id="video">
  <div class="container">
  <div class="row justify-content-center">
  <div class="video-section section-gap col-lg-12">
  <div class="text-wrap">
  <h1 class="text-white">Explore what we do in a unique way</h1>
  <p>
  The following video gives a glimpse of Seismic data processing and how is it crucial to gas industries
  </p>
  <div class="play-btn-wrap">
  <a href="https://www.youtube.com/watch?v=CmE-89VD79A" class="play-btn">
  <img src="img/play-btn.png" alt=""> Watch Video
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
// End video Area
// Start callto-action-area Area
section#aboutus.callto-action-area.section-gap
  .container
    .row.justify-content-center
      .col-lg-9
        h1.text-white Alaa Khodeir
        p.text-white
          | Worked in the seismic industry for over thirty year, in many aspects of seismic data processing.
          | Skilled at leading and supervising seismic processing projects including evaluating, testing and applying new technologies, with a proven track record showing a history of successful projects that lead to improving the final subsurface seismic image, which is a key step for picking leads and prospects. Published many papers in both local and international conferences.
          | Prior to BP, worked for three major seismic processing contractors in Cairo, Houston, and London.
        a.primary-btn(href='https://eg.linkedin.com/in/alaa-khodeir-3543a8b5') Linkedin account
// End callto-action-area Area
// Start testomial Area
section#testimonail.testomial-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-60.col-lg-8
        .title.text-center
          h1.mb-10 Experiences
          p
            | We offer you unique services based on years of experiences in international companies in both the USA and Egypt.
    .row
      .active-tstimonial-carusel
        .single-testimonial.item
          img.mx-auto(src='../img/bpz.png' length='140' width='100' alt='')
          p.desc
            | As a Seismic Processing Lead, supervised, led, and QC many seismic processing projects both in-house and at contractor&apos;s workshops, 
            span#dots ...
            span#more
              | this included tendering process, cost estimate, negotiating, testing and evaluating new technologies, designing and modifying workflows, and QC/QA results, including 2D and 3D, single and Multi-Azimuth (MAZ) surveys.
              | During this period many projects from different Egyptian basins (Nile Delta, Gulf of Suez and Western Desert) were successfully completed, new high-end technology was tested, and some was applied. Big improvements in the subsurface image were achieved, this was a big help for all subsurface work that was done on those volumes.
              | Also involved in seismic data trades, data rooms, seismic data evaluation, assessment and fitness.
              | Participated in BP seismic worldwide processing community.
          button#myBtn.primary-btn.text-uppercase(onclick='myFunction()') Read more
          hr
          h4 British Petrolum 
          p
            | Cairo, Egypt
        .single-testimonial.item
          img.mx-auto(src='img/GX2.GIF' length='140' width='100' alt='')
          p.desc
            | As a member of Seismic Imaging group, successfully processed 3D Pre-Stack Depth Imaging projects, from the Gulf of Mexico and the North Sea.
          hr
          h4 Gx Technology
          p
            | Houston, Texas (USA)
        .single-testimonial.item
          img.mx-auto(src='img/WES.jpeg' length='140' width='100' alt='')
          p.desc
            | Processed three 3D Pre-Stack Depth Imaging projects, two offshore and one onshore. Also involved in processing data from the North Sea, using WG processing package (Omega) and other supporting software.
          hr
          h4 Western Atlas
          p
            | Cairo, Egypt
        .single-testimonial.item
          img.mx-auto(src='img/PGS.jpeg' length='120' width='90' alt='')
          p.desc
            | Worked with the special project group to complete many offshore and onshore 2D and 3D Pre-Stack Depth Imaging projects from different basins all over the world  
            span#dotss ...
            span#moree
              | (Gulf of Mexico, South America, etc.). Got involved in processing two Vertical Cable projects. Also involved in inventing, developing and evaluating new technology, one such example is, coming up and designing RMO autopicker for velocity model update during the time when all velocity picking packages were based on manual picking.
          button#myBtnn.primary-btn.text-uppercase(onclick='zaloot()') Read more
          hr
          h4 PGS Company
          p
            | Houston, Texas (USA)
        //
          <div class="single-testimonial item">
          <img class="mx-auto" src="img/t2.png" alt="">
          <p class="desc">
          Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
          </p>
          <h4>Mark Alviro Wiens</h4>
          <p>
          CEO at Google
          </p>
          </div>
          <div class="single-testimonial item">
          <img class="mx-auto" src="img/t3.png" alt="">
          <p class="desc">
          Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
          </p>
          <h4>Mark Alviro Wiens</h4>
          <p>
          CEO at Google
          </p>
          </div>
          <div class="single-testimonial item">
          <img class="mx-auto" src="img/t1.png" alt="">
          <p class="desc">
          Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
          </p>
          <h4>Mark Alviro Wiens</h4>
          <p>
          CEO at Google
          </p>
          </div>
          <div class="single-testimonial item">
          <img class="mx-auto" src="img/t2.png" alt="">
          <p class="desc">
          Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
          </p>
          <h4>Mark Alviro Wiens</h4>
          <p>
          CEO at Google
          </p>
          </div>
          <div class="single-testimonial item">
          <img class="mx-auto" src="img/t3.png" alt="">
          <p class="desc">
          Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
          </p>
          <h4>Mark Alviro Wiens</h4>
          <p>
          CEO at Google
          </p>
          </div>
// End testomial Area
// Start contact Area
section#contact.contact-area
  .container
    .contact-section
      h1 Contact Us
      .row.align-items-center
        .col-lg-4.contact-left
          #map(style=' width:100%;height: 545px;')
        .col-lg-7.contact-right
          form#myForm.form-area(action='index/send-email' method='post')
            input.common-input.mt-10(name='fname' placeholder='Enter your name' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" required='' type='text')
            input.common-input.mt-10(name='email' placeholder='Enter email address' pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" required='' type='email')
            textarea.common-textarea.mt-10(name='message' placeholder='Messege' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required='')
            button.primary-btn.mt-20
              | Send Message
              span.lnr.lnr-arrow-right
            .alert-msg
// End contact Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-5.col-md-6.col-sm-6
        .single-footer-widget
          h6 About Us
          p
            | We are a software company we have passion developing software!
          p.footer-text
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  Zoogle Inc
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-5.col-md-6.col-sm-6
        .single-footer-widget
          h6 Website is still under construction
      //
        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
        <h6>Follow Us</h6>
        <p>Let us be social</p>
        <div class="footer-social d-flex align-items-center">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
        </div>
        </div>
        </div>
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='../js/easing.min.js')
script(src='../js/hoverIntent.js')
script(src='../js/superfish.min.js')
script(src='../js/jquery.ajaxchimp.min.js')
script(src='../js/jquery.magnific-popup.min.js')
script(src='../js/owl.carousel.min.js')
script(src='../js/jquery.sticky.js')
script(src='../js/jquery.nice-select.min.js')
script(src='../js/hexagons.min.js')
script(src='../js/waypoints.min.js')
script(src='../js/jquery.counterup.min.js')
script(src='../js/mail-script.js')
script(src='../js/main.js')
script.
  function zaloot() {
  var dotss = document.getElementById("dotss");
  var moreTextt = document.getElementById("moree");
  var btnTextt = document.getElementById("myBtnn");
  if (dotss.style.display === "none") {
  dotss.style.display = "inline";
  btnTextt.innerHTML = "Read more";
  moreTextt.style.display = "none";
  } else {
  dotss.style.display = "none";
  btnTextt.innerHTML = "Collapse";
  moreTextt.style.display = "inline";
  }
  }
script.
  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");
  if (dots.style.display === "none") {
  dots.style.display = "inline";
  btnText.innerHTML = "Read more";
  moreText.style.display = "none";
  } else {
  dots.style.display = "none";
  btnText.innerHTML = "Collapse";
  moreText.style.display = "inline";
  }
  }
